<head>
  <link rel="stylesheet" type="text/scss" href="home.component.scss" media=”screen” />
</head>

  <div class="divider">
  </div>

  <div class="projects">

    <h3> projects </h3>

    <div id="carousel-wrapper">
      <div id="menu">
          <div id="current-option">
            <span id="current-option-text1" data-previous-text="" data-next-text=""><p></p></span>
          </div>
          <button id="previous-option"></button>
          <button id="next-option"></button>
        
      </div>
      <div id="image"></div>
    </div>

  </div>

  <div class="divider">
  </div>

  <div class="closer">
    <p>questions? let me know</p>
    <p>last updated friday december 16 2022</p>
  </div>